@charset"utf-8";

header{
    padding:40px  40px;
    background-color: orange;
}

/* bodyの設定 */
body {
    max-width:1280px;
    width:100%;
   margin:auto;
}
.container{
    display:flex

}
#beauty img{
    width:300px;
    padding:15px;


  }
  #foods img{
    width:200px;
    padding:30px;
  }

#language img{
    width:200px;
    padding:30px;
  }
  #music img{
    width:250px;
    padding:30px;
  }
  #beauty1 img{
    width:400px;
    padding-top:40px;

  }
  #beauty_text{
    padding:30px;
    text-align: center;

  }
  #foods1 img{
    padding-top:100px;
    width: 300px;
    padding:10px;
  }
  #foods2 img{
    width:300px;
    padding-top:100px;
    padding:10px;
  }
  #foods_text{
    padding:30px;

  }
#language1 img{
    padding:100px;
    padding-top:10px;
    width:700px;
    

} 
#music_text{
    padding:30px;
}



h1{
    text-align: center;
}
h2{
    text-align: center;
}

button{
    padding: 10px;

    position: relative;
    background-color: orange;
    color:green
}
.button{
    text-align: center;
    padding:30px;
}
button:hover{
background-color: green;
}


footer{
    padding: 24px 0;
	background: green;
	font-size: 1.4rem;
	color: #fff;

}
footer p{
    text-align: center;
}

